.langSwitcher {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  box-shadow: 2px 4px 9px 0px #a68dae47;
}

.langText {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #3f3f3f;
  padding-left: 12px;
}

.langIcon {
  width: 24px;
  height: 24px;
  padding: 12px 7px 12px 0;
}
