.formWrapper {
  position: relative;
  width: 240px;
  height: 976px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 2px 4px 9px 0px #a68dae47;
  margin-bottom: 140px;
  padding: 40px 16px;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 0px;
    width: 640px;
    height: 576px;
    padding: 40px 24px;
    margin-bottom: 308px;
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 42px;
    padding: 40px 40px 54px 40px;
    width: 1200px;
    height: 396px;
    margin-bottom: 260px;
  }
}

@media screen and (min-width: 1280px) {
  .firstColumn > * {
    grid-column: 1;
  }

  .secondColumn > * {
    grid-column: 2;
  }

  .thirdColumn > * {
    grid-column: 3;
  }
}

.inputWrapper {
  position: relative;
  display: inline-block;
}

.label {
  display: block;
  font-family: Poppins;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.4px;
  color: #7b61ff;
}

.input {
  margin-top: 8px;
  margin-bottom: 20px;
  width: 226px;
  height: 22px;
  border-radius: 8px;
  justify-content: space-between;
  border: 1px solid #aca7c3;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #3f3f3f;
  padding-left: 12px;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    width: 294px;
  }

  @media screen and (min-width: 1280px) {
    width: 358px;
  }
}

.input:hover,
.input:focus {
  border-color: #7b61ff;
}

.inputDescr {
  width: 191px;
  height: 122px;
  padding-right: 35px;
  resize: none;

  @media screen and (min-width: 768px) {
    width: 259px;
  }

  @media screen and (min-width: 1280px) {
    width: 323px;
  }
}

.inputDate {
  width: 216px;
  padding-right: 10px;
  cursor: pointer;
  &::placeholder {
    color: #3f3f3f;
  }

  &:focus::placeholder {
    color: #7b61ff;
  }

  @media screen and (min-width: 768px) {
    width: 284px;
  }

  @media screen and (min-width: 1280px) {
    width: 348px;
  }
}

.clearIcon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 44px;
  right: 10px;
  fill: #7b61ff;
  cursor: pointer;
}

.labelImg,
.labelImg:hover,
.labelImg::placeholder {
  color: #aca7c3;
  border-color: #aca7c3;
  fill: #aca7c3;
}

.iconArrowUp {
  position: absolute;
  right: 7px;
  bottom: 37px;
  width: 24px;
  height: 24px;
  fill: #7b61ff;
  cursor: pointer;
}

.iconArrowUp2 {
  top: 42px;
}

.addBtn {
  width: 240px;
  height: 56px;
  padding: 16px 12px;
  border-radius: 8px;
  box-shadow: 2px 4px 9px 0px #a68dae47;
  font-family: Poppins;
  font-size: 16px;
  line-height: 1.5px;
  margin-top: 20px;
  z-index: 1;
  background-color: #7b61ff;
  color: #ffffff;

  &:hover {
    background-color: #6243ff;
  }

  @media screen and (min-width: 768px) {
    width: 193px;
    margin-left: 115px;
    margin-top: 120px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 178px;
    margin-top: 41px;
  }
}

.priorityOptions {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 208px;
  height: 136px;
  padding: 16px;
  box-shadow: 2px 4px 9px 0px #a68dae47;
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: -2px;
  z-index: 2;
  @media screen and (min-width: 768px) {
    width: 276px;
  }

  @media screen and (min-width: 1280px) {
    width: 340px;
  }
}

.priorityOption {
  font-family: Poppins;
  font-size: 16px;
  line-height: 1.5;
  color: #3f3f3f;
  padding-bottom: 16px;
  padding-top: 16px;
  cursor: pointer;
  &:hover {
    color: #7b61ff;
  }
}

.priorityOption:not(:last-child) {
  border-bottom: 1px solid #aca7c3;
  &:hover {
    border-color: #7b61ff;
  }
}

.categoryOptions {
  height: 360px;
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1280px) {
  }
}
