.sortWrapper {
  box-shadow: 2px 4px 9px 0px #a68dae47;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}

.img {
  width: 24px;
  height: 24px;
  padding: 16px;
}

.openWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  width: 170px;
  right: 80px;
  top: 209px;
  box-shadow: 0px 4px 10px 0px #00000040;
  background-color: #fff;
  border-radius: 8px;
  z-index: 1;
}

.mainField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  border-bottom: 1px solid #aca7c3;
}

.mainFieldText {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #7b61ff;
  padding: 16px 0 16px 24px;
}

.sortItem {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.sortItem p {
  font-family: Poppins;
  font-size: 14px;
  line-height: 1;
  color: #aca7c3;
  padding: 8px 0 8px 24px;
}

.sortItem:not(:last-child) {
  border-bottom: 1px solid #aca7c3;
}

.sortItem:last-child {
  margin-bottom: 5px;
}

.iconField {
  padding-right: 20px;
  fill: #aca7c3;
}
