.createWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 9px 0px #a68dae47;
  border-radius: 8px;
  background-color: #7b61ff;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  fill: white;
  padding: 16px;
}

.addBtnText {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  padding-right: 16px;
}
