.calendarContainer {
  position: absolute;
  top: 90%;
  width: 232px;
  height: 348px;
  background-color: #fff;
  box-shadow: 0px 0px 14px 0px #00000012;
  z-index: 1;
  border-radius: 11px;
  padding: 4px;

  @media screen and (min-width: 768px) {
    width: 299px;
  }

  @media screen and (min-width: 1280px) {
    width: 364px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

  @media screen and (min-width: 768px) {
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
  }
}

.cancelButton,
.chooseButton {
  border-radius: 4px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  padding: 8px 16px 8px 16px;
}

.cancelButton {
  border: 1px solid #7b61ff;
  color: #7b61ff;
  background-color: #fff;
}

.chooseButton {
  background-color: #7b61ff;
  color: #fff;
}

.cancelButton:hover {
  border-color: #6243ff;
  color: #6243ff;
}

.chooseButton:hover {
  background-color: #6243ff;
}

.caption {
  position: relative;
  text-align: center;
}

.month {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  color: #3f3f3f;
}

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navButton {
  cursor: pointer;
  border: none;
  width: 20px;
  height: 20px;
}

.navIcon {
  color: #3f3f3f;
}

.table {
  width: 100%;
  padding-top: 16px;
  border-spacing: 0;
}

.days {
  font-family: Poppins;
  text-align: center;
  font-size: 12px;
  line-height: 1.3;
  color: #3f3f3f;
  padding-bottom: 16px;

  &:first-of-type,
  &:last-of-type {
    color: #ff2b77;
  }
}

.calendarDay {
  font-family: Poppins;
  font-size: 12px;
  line-height: 1.3;
  color: #aca7c3;
  cursor: pointer;
  border: none;
  text-align: center;
  padding: 8px;
  width: 28.57px;
  height: 32px;
  padding: 8px;
  border-radius: 0;

  @media screen and (min-width: 768px) {
    width: 38.29px;
  }

  @media screen and (min-width: 1280px) {
    width: 46.86px;
  }
}

.today {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3px;
  color: #7b61ff;
}

.selected {
  background-color: #7b61ff !important;
  color: #ffffff !important;
}

.button:focus {
  background-color: #7b61ff;
  color: #ffffff;
}
