.searchContainer {
  display: flex;
  gap: 12px;
  align-items: center;
  box-shadow: 2px 4px 9px 0px #a68dae47;
  border-radius: 10px;
  width: 100%;
  background-color: white;
  margin-bottom: 24px;

  @media screen and (min-width: 480px) {
    width: 430px;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    right: 115px;
    top: 25px;
    margin-bottom: 0;
    width: 368px;
  }

  @media screen and (min-width: 1280px) {
    right: 170px;
    top: 22px;
    width: 410px;
  }
}

.icon {
  padding: 12px 0 12px 12px;
  width: 24px;
  height: 24px;
  fill: #7b61ff;
}

.input {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  width: 100%;
}
